# Image files
*.bmp
*.tiff
*.tif
*.png
*.gif
*.jpg
*.jpeg

!app/static/uploads/perfect_blue_face.bmp

# Redis 
*.rdb

# Input effect data files
input_json/*
!input_json/example_effect.json
!input_json/example_effects.json

# Python, build dirs
.python-version
*.spec
dist/
build/

venv

SoxMosh/
*.zip
